body{
margin: 0px;
padding: 0px;
background-color: #E1E1E9;
font-family: 'Inter';
}
a{
    text-decoration: none;
    color: white;
}

header
{
    width: 100%;
    height: 85px;
    background-color: #9908CC;
    text-align: center;
    display: flex;
    justify-content: center;
}
.head
{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    height: 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.three-lines{
    display: none;
}
.navbar{
    margin-bottom: 0px;
    height: 100%;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 100%;
    margin: 0px;
}
.navbar ul li{
    padding-left: 20px;
    font-size: 18px;
    font-family: 'Inter';
    padding-top: 40px;
    /* background-color: rgb(203, 203, 203); */
}
.navbar ul li :hover
{
    border-bottom: 5px solid red;
}
.main{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.notice
{
    width: 80%;
    height: 130px;
    background-color: #7545FF;
    margin: 15px 0px 0px 0px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.notice-bar
{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.notice-logo
{
    height: 70px;
    margin-right: 20px;
}
.notice-text
{
    font-family: 'Inter';
    color: white;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.notice-Btn
{
    margin-right: 60px;
    border: none;
    background: #00FFE0;
border-radius: 5px;
height: 50px;
width: 190px;
font-size: 20px;
font-weight: 700;
color: #000AFF;
}
.notice-Btn:hover
{
    background-color: #000AFF;
    color: #00FFE0;
}
.main-body
{
    width: 80%;
    height: max-content;
    /* background-color: rgb(203, 197, 197); */
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.left-body
{
    margin: 1% 1% 0% 0%;
    width: 24%;
    height: max-content;
    /* background-color: rgb(235, 178, 178); */
}
.social-apps
{
    width: 100%;
    height: 250px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s-a-body{
    width: 80%;
    height: 45%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.s-a-body a{
    color: #434343;
    font-size: 18px;
    font-weight: 300;
}
.s-a-body a:hover{
    border-bottom: 2px solid blueviolet;
}
.s-a-body img{
    height: 40px;
    margin: 0px 10px;
}
.about-rja
{
    width: 100%;
    height:200px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
}

.mid-body
{
    margin: 1% 0% ;
    width: 50%;
    height: max-content;
    /* background-color: rgb(235, 178, 178); */
}

.mid-main
{
    width: 100%;
    height: 350px;
    margin-bottom: 15px;
    background-color: #fff;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
}
.mm-title
{
    width: 100%;
    background: rgba(117, 69, 255, 0.63);
    font-size: 24px;
    text-align: center;
    padding: 10px 0px;
    position: relative;
    top: 80%;
    color: #FFffff;
}
.mm-title:hover{
    color: #ffffff;
 background: rgba(255, 0, 138, 0.87);
}

.mid-box{
    width: 100%;
    height: max-content;
    margin-bottom: 15px;
    /* background-color: #fff; */
    display: flex;
    
}
.mid-box-1{
    width: 50%;
    /* background-color: rgb(255, 173, 173); */
    height: 100%;
}
.mid-box-content{
    width: 98%;
    height: 200px;
    background-color: #fff;
}
.mb-title{
    width: 100%;
    font-size: 16px;
    background: rgba(255, 0, 138, 0.87);
    text-align: center;
    padding: 10px 0px;
    position: relative;
    top: 70%;
    color: #FFffff;
}
@media screen and (max-width: 480px) {
    header {height: 70px; }
    .logo img{height: 50px;}
    .three-lines{display: block;}
    .navbar{display: none;}
    .notice{width: 95%; flex-direction: column; justify-content: space-around; height: 100px;}
    .notice-text{font-size: 16px;}
    .notice-logo{height: 40px;}
    .notice-bar{margin: 0px;}
    .notice-Btn{height: 25px; font-size: 12px; margin: 0px; width: 130px;}
    /* main body */
    .main-body{flex-direction: column; width: 95%;}
    .mid-body{width: 100%; order: 1; }
    .mid-main{height: 220px; margin-top: 10px;}
    .mm-title{top: 70%; font-size: 18px;}
    .mid-box-content{height: 120px;}
    .mb-title{font-size: 11px; padding: 5px 0px;}
  }
.mb-title:hover{
    color: #ffffff;
 background: rgba(117, 69, 255);
}
.mid-box-2{
    width: 50%;
    /* background-color: rgb(255, 105, 105); */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mid-foot
{
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
}
.right-body
{
    margin: 1% 0% 0% 1%;
    width: 24%;
    height: max-content;
    /* background-color: rgb(235, 178, 178); */
}

.jf-link
{
    width: 100%;
    height: 250px;
    background-color: #FF4B4B;
    margin-bottom: 15px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.jf-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px 20px;
}
.jf-link img{
    height: 70px;
    width: 70px;
    margin-right: 10px;
}
.ijf-rules
{
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
}
.ijf-rules-a {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background: rgba(150, 113, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ijf-rules-a:hover
{
    background: rgba(150, 113, 255, 0.5);
}
.ijf-rules-b {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background: rgba(62, 61, 61, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ijf-rules-b:hover
{
    background: rgba(62, 61, 61, 0.5);
}
.register
{
    width: 100%;
    height: 415px;
    background-color: #9671FF;
    box-shadow: 0 5px 7px rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}
form input{

    width: 100%;
    height: 35px;
    font-size: 16px;
    border: none;
    background-color: #B59CFF;
    margin-bottom: 10px;
    color: #000000;
    font-weight: 500;
    padding-left: 10px;
}
form textarea
{
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: #B59CFF;
    margin-bottom: 10px;
    font-family: 'Inter';
    padding-left: 10px;

}
form button
{
    width: 100px;
    height: 30px;
    background-color: #FF008A;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 18px;font-weight: 600;
    margin-top:10px ;

}
form button:hover
{
    color: #FF008A;
    background-color: #fff;
}
footer{

    height: 80px;
    width: 100%;
    background-color: rgb(43, 43, 43);

}
.foot
{
    margin: auto;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
   
}
@media screen and (max-width: 480px){
    .left-body{width: 100%; order: 2;}
    .about-rja a{padding: 10px;}
    .right-body{width: 100%; order: 3;}
    .foot{ justify-content: center;flex-direction: column;font-size: 11px; width: 95%;}
}